{{!-- <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Cinema Ironhack</title>
  <link rel="stylesheet" href="stylesheets/style.css">
</head>

<body>
  <h1 class="title">Cinema Ironhack</h1>
  <div class="indext-container">
    <img class="center" src="/images/cinema.jpg" width="1400px" height="700px" alt="IronCinema">
</div>

<div>
    <button class="btn" onclick= "window.location.href='/movies'" type="button" style="background-color:#FFFFFF;margin-left:auto;margin-right:auto;display:block;margin-top:2%;margin-bottom:0%">Check the Movies!</button>
</div>
</body>
</html> --}}


<div class="container">
<h1 class="title">Cinema Ironhack</h1>
<img class="center" src="/images/cinema.jpg" width="1400px" height="700px" alt="IronCinema">
<button class="btn" onclick= "window.location.href='/movies'" type="button" style="background-color:#FFFFFF;margin-left:auto;margin-right:auto;display:block;margin-top:2%;margin-bottom:0%">Check the Movies!</button>
</div>
